body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body * {
  scroll-margin-top: 64px;
}

p {
  line-height: 1.5;
}

.no-bg * {
  background-color: transparent !important;
  background: none;
}

.bordering {
  border: 2px solid red;
}
